@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

progress {
    border: none;
    width: 400px;
    height: 10px;
    
  }
progress::-webkit-progress-value {
    background: white;
  }
.hide-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}